[build]
  publish = "dist/pos-frontend"
  command = "ng build --configuration=production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  NPM_VERSION = "10"