
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100; 
  font-size: 14px;
  line-height: 1.5;
  color: var(--mat-sys-on-surface);
}
